
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.app-container{  
    width: 900px;
    height: 450px;
    background-color: whitesmoke;
    border: 1px solid orange;
    padding:  10px;
    display: flex;
    gap: 10px;
}

/* ----- 3 big sections ----------------- */
nav{
    width: 20%;
    height: 100%;
    border: 2px solid orange;
    background-color: white;
}
main{
    width: 50%;
    height: 100%;
    border: 2px solid orange;
}
aside{
    width: 30%;
    height: 100%;
    border: 2px solid orange;
    background-color: white;
}

/* ---- navbar --------------- */
#app-name {
    text-align: center;
}

ul{
    margin: 0;
    padding: 0;   
}

li{
    list-style-type: none;
    margin: 20px 0;
    height: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px
}

li:hover{
    background-color: orange;
}


/* ------ main section ------ */
main{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}


.menu-container{
/*    border: 1px solid blue;*/
    background: white;
    box-shadow: 4px 4px 4px rgba(250, 163, 76, 0.5), -4px -4px 4px rgba(250, 163, 76, 0.5);
    flex: 1;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    border-radius: 10px;
    
}

.menu-item{
    border: 1px solid darkgoldenrod;
    margin: 5px 10px ;
    height: 45%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-container::after{
    content: "";
    margin: 5px 10px ;
    height: 45%;
    width: 40%;
}

/* ------ menu subsection ---------- */


.menu-item img{
    height: 63%;
}

.info-wrapper{
    /* border: 1px solid red; */
    margin-bottom: 5px;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.info-wrapper button{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    
}

.name-price{
    /* border: 1px solid purple; */
    height: 100%;
    margin: 0 10px;
    flex:1;
     
}

.name-price h5{
    margin: 0;
    margin-top: 3px;
    font-size: 11px;
}
.name-price h4{
    margin: 5px 0;
}

/* -- aside section -- */

aside{
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

aside h4 {
    margin: 0;
    margin-top: 10px;
    padding: 5px;
    background: lightgoldenrodyellow;
}

/* -- cart subsection -- */

.cart-list {
    background: orange;
    flex: 1;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: scroll; 
}

.cart-list .cart-item {
    box-sizing: border-box;
    background: white;
    width: 100%;
    height: 50px;
    padding: 5px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.cart-item img {
    width: 20%;
    background: red;
}

.cart-item .item-name {
/*    background: blue; */
    padding-left: 5px;
    flex: 1;
}

.cart-item button {
    height: 20px;
    width: 20px;
    margin-top: 5px;
}
.item-name p {
    font-size: 70%;
}

.cart-item .item-price {
 /*   background: green; */
    width: 30%;
}

.item-price p {
    font-size: 70%;
}

.display {
    width: 100%;
    height: 30%;
   
}

.cost {
    box-sizing: border-box;
    background: orange;
    width: 100%;
    height: 100%;
    padding: 5px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    
}

.cost .pricing {
    padding: 5px;
    background: white;
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 3px; 
}

.charges .cost-title {
    color: gray;
    font-size: xx-small;
}

.charges .cost-value {
    font-size: small;
}





    







/* :root{
    --main-color: orange;
    --sub-color: rgb(234, 229, 229);
    --third-color: rgb(20, 19, 19);

} */